html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.maincontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 30px;
    flex-direction: column;
    background-color: #ffc067;
    opacity: 0.8;
    background: repeating-linear-gradient(
        -45deg,
        #eeeeee,
        #eeeeee 5px,
        #ffc067 5px,
        #ffc067 25px
    );
}

.maincontainer > img {
    width: 3.5vw;
    margin-bottom: 10px;
}

.searchbar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    font-size: 1.5rem;
    border-radius: 20px;
    border: 1px solid grey;
    padding: 5px;
    overflow: hidden;
    gap: 10px;
    box-sizing: border-box;
}

.searchbar svg {
    color: grey;
}

.searchbar input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family:
        "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.searchbar:focus-within {
    border-color: #67a6ff;
}

.searchbar:hover {
    cursor: text;
}

.searchbar input:focus {
    outline: none;
}

.suggestions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    border-radius: 10px;
    background-color: white;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.suggestion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    transition: background-color 0.1s ease-in;
    font-size: 1.2rem;
    font-family:
        "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.suggestion:not(:first-child) {
    border-top: 1px solid grey;
}

.suggestion:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.suggestion.focused {
    background-color: #e5e5e5;
}
